<!-- Footer -->
        <footer class="text-center">
            <div class="row">
              <br><br>
              <hr>
                <div class="col-lg-12">
                    <small>Copyright &copy; WebSudioPlace 2014</small>
                </div>
            </div>
        </footer>
