<!-- Header image -->

      <%# <img class="img-responsive wsp-header" src="https://c1.staticflickr.com/5/4193/34580360166_1d4bb65fc1_o.png" alt="" />%>

<div class="container header-bg">
<div class="row">
  <div class="col-md-12">
    
  </div>
</div>
</div>
