<!-- Page Content -->
    <div ng-app="myApp" class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact

                </h1>

            </div>
        </div>
        <!-- /.row -->


        <div class="container-fluid">



          <!-- Content Row -->
          <div class="row map-div">
              <!-- Map Column -->
              <div class="col-md-12 ">
                  <!-- Embedded Google Map -->
<img class="img-rounded rounded-img"src="https://c1.staticflickr.com/5/4172/34469287131_3cc96ed80b_o.jpg" alt="">              </div>
            </div>
<br><br>
          <div class="row ">
                    <div class="col-md-12 form-back " >
                  <div class="form-back">
                    <!-- www.123contactform.com script begins here -->
                    <!-- www.123contactform.com script begins here -->
<script type="text/javascript" defer src="//www.123contactform.com/embed/2679067.js" data-role="form"></script>

                  </div>
                  </div>
                  </div>
        </div>

</div>

        <!-- /.row -->

        <!-- /.row -->
