<!-- Page Content -->
  <div class="container">







      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class=" page-header text-center  ">
                  "Making Your Presence Online"
              </h1>

          </div>
      </div>
      <br><br><br>



              <div class="col-md-4">
                  <div class="panel panel-default main-panel text-center">

                      <div class="">
                          <i class="fa fa-eye lg-icons  "></i>

                            <h3>Design</h3>
                            <p>  Creative and technically innovative. We effectively combine these attributes to build or redesign your website.</p>
                            <a href="services" class="btn btn-default green-button">Learn More</a>

                      </div>
                  </div>
              </div>




              <div class="col-md-4">
                  <div class="panel panel-default main-panel text-center">

                      <div class="">
                          <i class="fa fa-gears fa-spin lg-icons "></i>


                            <h3>Funtion</h3>
                            <p>  Making your website functional, easy to use and at the same time making it aesthetically appealing to the user.</p>
                            <a href="services" class="btn btn-default green-button">Learn More</a>

                      </div>
                  </div>
              </div>



              <div class="col-md-4">
                  <div class="panel panel-default main-panel text-center">

                      <div class="">
                          <i class="fa fa-folder-open lg-icons "></i>

                            <h3>Portfolio</h3>
                            <p>  We create responsive and engaging websites by crafting digital experiences through strategy, design, and development.</p>
                            <a href="services" class="btn btn-default green-button">Learn More</a>
                          </div>

                  </div>
              </div>
<br><br><br>


      <!-- /.row -->
<br><br>


      <!-- Features Section -->
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Why Web Studio Place</h2>
          </div>
      </div>

          <div class="video-section">
              <div class="row">
                  <div class="col-md-8">
                      <p>We understand that most of the time, the first contact a customer will have with your business is through your website. Consequently, the website could make or break your business. To ensure that the website makes it, having it be aesthetically pleasing and user friendly is imperative.</p>
                  </div>
                  <div class="col-md-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wIOhGo-immE?rel=0&amp;showinfo=0"  ></iframe>

                  </div>
              </div>
          </div>



      <!-- /.row -->



      </div>
